<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["EventX"]</title>
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-bottom: 100px;
        }

        .base {
            text-align: center;
        }

        .container{
            width: 80%;
        }

        .slider {
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom: 10px;
        }

            .slider img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .slider-nav {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

            .slider-nav a {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #888;
                margin: 0 5px;
                cursor: pointer;
            }

                .slider-nav a.active {
                    background-color: #333;
                }

        .slider img:not(:first-child) {
            display: none;
        }
    </style>
</head>
<body>
    <div class="base">
        <div class="slider">
            <img src="https://samuelsampaio.azorshare.xyz/Slider3.png" alt="Slider1">
            <img src="https://samuelsampaio.azorshare.xyz/image.png" alt="Slider2">
            <img src="https://samuelsampaio.azorshare.xyz/image_1.png" alt="Slider3">
        </div>

        <div class="slider-nav">
            <a class="active"></a>
            <a></a>
            <a></a>
        </div>

        <div class="container">
            <h3>Sobre a nossa empresa:</h3>
            <p>Bem-vindo ao EventX! O lugar onde você pode criar, editar e participar de eventos no conforto da sua casa ou pessoalmente. Nossa plataforma oferece uma variedade de recursos para tornar o planejamento e a participação em eventos mais fáceis do que nunca. Esteja você procurando organizar uma conferência virtual ou um encontro presencial, nós temos o que você precisa. Nossas ferramentas fáceis de usar permitem que você gerencie os detalhes do seu evento, agende sessões e interaja com os participantes de maneira integrada. Junte-se à nossa comunidade hoje e comece a planejar seu próximo evento conosco!</p>
        </div>
    </div>

    <script>
        // Seleciona todas as imagens do slider e armazena em um array
        const sliderImages = Array.from(document.querySelectorAll('.slider img'));
        // Seleciona todos os elementos de navegação do slider e armazena em um array
        const sliderNav = Array.from(document.querySelectorAll('.slider-nav a'));

        // Índice da imagem atualmente exibida
        let currentIndex = 0;

        // ID do intervalo de tempo para o slider
        let intervalId;

        // Função para mostrar a imagem com base no índice
        function showImage(index) {
            // Oculta todas as imagens do slider
            sliderImages.forEach(img => img.style.display = 'none');

            // Remove a classe 'active' de todos os elementos de navegação
            sliderNav.forEach(nav => nav.classList.remove('active'));

            // Exibe a imagem correspondente ao índice
            sliderImages[index].style.display = 'block';

            // Adiciona a classe 'active' ao elemento de navegação correspondente
            sliderNav[index].classList.add('active');
        }

        // Função para iniciar o slider automático
        function startSlider() {
            // Define um intervalo para alternar as imagens a cada 2000 milissegundos (2 segundos)
            intervalId = setInterval(() => {

                // Atualiza o índice para a próxima imagem, voltando ao início se chegar ao final do array
                currentIndex = (currentIndex + 1) % sliderImages.length;

                // Mostra a imagem atualizada
                showImage(currentIndex);

            }, 2000);
        }

        // Adiciona um evento de clique a cada elemento de navegação do slider
        sliderNav.forEach((nav, index) => {
            nav.addEventListener('click', () => {

                // Interrompe o intervalo de tempo do slider
                clearInterval(intervalId);

                // Atualiza o índice para o item clicado
                currentIndex = index;

                // Mostra a imagem correspondente ao novo índice
                showImage(currentIndex);

                // Reinicia o slider automático
                startSlider();
            });
        });

        // Inicia o slider automático quando a página é carregada
        startSlider();

    </script>
</body>
</html>
