<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-bottom: 100px;
        }

        .base {
            text-align: center;
        }

        .container{
            width: 80%;
        }

        .slider {
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom: 10px;
        }

            .slider img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .slider-nav {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

            .slider-nav a {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #888;
                margin: 0 5px;
                cursor: pointer;
            }

                .slider-nav a.active {
                    background-color: #333;
                }

        .slider img:not(:first-child) {
            display: none;
        }
    </style>
</head>
<body>
    <div class="base">
        <div class="slider">
            <img src="https://i.ibb.co/tHPgY4d/Slider1.jpg" alt="Slider1">
            <img src="https://i.ibb.co/vD7qK9W/Slider2.jpg" alt="Slider2">
            <img src="https://i.ibb.co/QbfhG2B/Slider3.jpg" alt="Slider3">
        </div>

        <div class="slider-nav">
            <a class="active"></a>
            <a></a>
            <a></a>
        </div>

        <div class="container">
            <h3>Sobre a nossa empresa:</h3>
            <p>Bem-vindo ao EventX! O lugar onde você pode criar, editar e participar de eventos no conforto da sua casa ou pessoalmente. Nossa plataforma oferece uma variedade de recursos para tornar o planejamento e a participação em eventos mais fáceis do que nunca. Esteja você procurando organizar uma conferência virtual ou um encontro presencial, nós temos o que você precisa. Nossas ferramentas fáceis de usar permitem que você gerencie os detalhes do seu evento, agende sessões e interaja com os participantes de maneira integrada. Junte-se à nossa comunidade hoje e comece a planejar seu próximo evento conosco!</p>
        </div>
    </div>

    <script>
        const sliderImages = Array.from(document.querySelectorAll('.slider img'));
        const sliderNav = Array.from(document.querySelectorAll('.slider-nav a'));

        let currentIndex = 0;
        let intervalId;

        function showImage(index) {
            sliderImages.forEach(img => img.style.display = 'none');
            sliderNav.forEach(nav => nav.classList.remove('active'));

            sliderImages[index].style.display = 'block';
            sliderNav[index].classList.add('active');
        }

        function startSlider() {
            intervalId = setInterval(() => {
                currentIndex = (currentIndex + 1) % sliderImages.length;
                showImage(currentIndex);
            }, 2000);
        }

        sliderNav.forEach((nav, index) => {
            nav.addEventListener('click', () => {
                clearInterval(intervalId);
                currentIndex = index;
                showImage(currentIndex);
                startSlider();
            });
        });

        startSlider();
    </script>
</body>
</html>
