@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        /* TROCA O FUNDO SE QUISERES */
        background-image: url("https://th.bing.com/th/id/OIP.mfp366-FD3-obFRre95CTwHaNK?w=115&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"); 
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="text-center">
    @{
        ViewBag.Title = "Home";
    }

    <h2>Welcome to our website!</h2>

    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/music-festival-flyer-template-2fbe465e6161b2843de744f9a779d699_screen.jpg?ts=1561511008" alt="Company Logo">

    <p>About Our Company:</p>
    <p>Welcome to EventX! The place where you can create, edit, and join events from the comfort of your own home or in-person. Our platform offers a variety of features to make event planning and participation easier than ever. Whether you're looking to organize a virtual conference or an in-person meetup, we've got you covered. Our easy-to-use tools allow you to manage your event details, schedule sessions, and interact with your attendees seamlessly. Join our community today and start planning your next event with us!</p>

</div>
