@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        /* METE AQUI UMAI IMAGEM QUE QUEIRAS */
        background-image: url("https://th.bing.com/th/id/OIP.34okHXUqLgLxJXEXl-_ttwHaEJ?w=324&h=182&c=7&r=0&o=5&dpr=1.5&pid=1.7");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div>
    <div>
        <h1>Support</h1>
        <p>
            Welcome to our support page. If you need any assistance, please don't hesitate to reach out to us.
        </p>
        <div>
            <h2>Contact Information</h2>
            <p>
                Email: <a href="mailto:support@example.com">support@email.com</a>
            </p>
            <p>Phone: +351 969396939</p>
        </div>
        <div>
            <h2>Frequently Asked Questions</h2>
            <ul>
                <li>
                    <span>How do I create an account? </span>
                    <div>Please visit our website and click on the "Sign Up" button.</div>
                </li>
                <li>
                    <span>What are the system requirements? </span>
                    <div>
                        Our application supports the latest versions of Chrome, Firefox, Safari, and Edge browsers.
                    </div>
                </li>
                <li>
                    <span>How do I reset my password? </span>
                    <div>
                        On the login page, click on the "Forgot Password" link and follow the instructions.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
