@{
    ViewData["Title"] = "Contacto";
}
<style>
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .base {
        margin-left: 23%;
        display: inline-block;
        text-align: center;
        width: 50%;
    }
</style>
<div>
    <div class="base">
        <h1>Suporte</h1>
        <p>
            Bem-vindo à nossa página de suporte. Se precisar de qualquer assistência, por favor não hesite em contactar-nos.
        </p>
        <div>
            <h2>Informações de Contacto</h2>
            <p>
                Email: <a href="mailto:support@example.com">support@email.com</a>
            </p>
            <p>Telefone: +351 969396939</p>
        </div>
        <div>
            <h2>Perguntas Frequentes</h2>
            <ul>
                <li>
                    <span>Como crio uma conta? </span>
                    <div>Por favor, visite o nosso site e clique no botão "Registar".</div>
                </li>
                <li>
                    <span>Quais são os requisitos do sistema? </span>
                    <div>
                        A nossa aplicação suporta as versões mais recentes dos navegadores Chrome, Firefox, Safari e Edge.
                    </div>
                </li>
                <li>
                    <span>Como posso redefinir a minha senha? </span>
                    <div>
                        Na página de login, clique no link "Esqueceu-se da senha?" e siga as instruções.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
