@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .base{
        margin-left: 23%;
        display: inline-block;
        text-align: center;
        width: 50%;
    }

</style>
<div>
    <div class="base">
        <h1>Support</h1>
        <p>
            Welcome to our support page. If you need any assistance, please don't hesitate to reach out to us.
        </p>
        <div>
            <h2>Contact Information</h2>
            <p>
                Email: <a href="mailto:support@example.com">support@email.com</a>
            </p>
            <p>Phone: +351 969396939</p>
        </div>
        <div>
            <h2>Frequently Asked Questions</h2>
            <ul>
                <li>
                    <span>How do I create an account? </span>
                    <div>Please visit our website and click on the "Sign Up" button.</div>
                </li>
                <li>
                    <span>What are the system requirements? </span>
                    <div>
                        Our application supports the latest versions of Chrome, Firefox, Safari, and Edge browsers.
                    </div>
                </li>
                <li>
                    <span>How do I reset my password? </span>
                    <div>
                        On the login page, click on the "Forgot Password" link and follow the instructions.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
