@{
    ViewData["Title"] = "Sobre";
}
<style>
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .base {
        margin-left: 23%;
        display: inline-block;
        text-align: center;
        width: 50%;
    }
</style>
<div>
    <div class="base">
        <h1>Sobre Nós</h1>
        <p>
            Bem-vindo ao EventX! O lugar onde você pode criar, editar e participar de eventos no conforto da sua casa ou pessoalmente.
            Nossa plataforma oferece uma variedade de recursos para tornar o planejamento e a participação em eventos mais fáceis do que nunca.
            Esteja você procurando organizar uma conferência virtual ou um encontro presencial, nós temos o que você precisa.
            Nossas ferramentas fáceis de usar permitem que você gerencie os detalhes do seu evento, agende sessões e interaja com os participantes de maneira integrada.
            Junte-se à nossa comunidade hoje e comece a planejar seu próximo evento conosco!
        </p>
        <div>
            <h2>Informações de Contato</h2>
            <p>
                Email: <a href="mailto:support@example.com">support@email.com</a>
            </p>
            <p>Telefone: +351 969396939</p>
        </div>
        <div>
            <h2>Perguntas Frequentes</h2>
            <ul>
                <li>
                    <span>Como faço para criar uma conta?</span>
                    <div>Por favor, visite nosso site e clique no botão "Cadastre-se".</div>
                </li>
                <li>
                    <span>Quais são os requisitos do sistema?</span>
                    <div>
                        Nossa aplicação suporta as versões mais recentes dos navegadores Chrome, Firefox, Safari e Edge.
                    </div>
                </li>
                <li>
                    <span>Como faço para redefinir minha senha?</span>
                    <div>
                        Na página de login, clique no link "Esqueceu a senha?" e siga as instruções.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
