@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    An email was sent to your email address so you can verificate your account. Please do the all the steps listed there to have your account verificated <a id="confirm-link" href="@Model.EmailConfirmationUrl">Resend Email</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

