@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registro";
}

<h1>@ViewData["Title"]</h1>

@if (Model.DisplayConfirmAccountLink)
{
    <p>
        Carregue aqui para comfirmar a criação da conta: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Comfirmar</a>
    </p>
}
else
{
    <p>
        Carregue aqui para comfirmar a criação da conta: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Comfirmar</a>
    </p>
}
